Pods/
TataCliqSwift.xcodeproj/xcuserdata/prashantk.xcuserdatad/xcschemes/xcschememanagement.plist
TataCliqSwift.xcworkspace/xcuserdata/prashantk.xcuserdatad/UserInterfaceState.xcuserstate
TataCLiQ_TEMP_PRE_PROD.xcscheme
xcschememanagement.plist
UserInterfaceState.xcuserstate
Breakpoints_v2.xcbkptlist
WorkspaceSettings.xcsettings
TataCLiQ_UAT2.xcscheme
IDEWorkspaceChecks.plist
IDEFindNavigatorScopes.plist
.DS_Store
xcuserdata/
*.xcscmblueprint
*.xccheckout
*.xcconfig

build/
DerivedData/

*.ipa
*.dSYM.zip
*.dSYM
*.DS_Store

.build/
/Pods/
*.xcconfig
Podfile.lock

*.xcfilelist
*.xcconfig

vendor

TataCliqSwift.xcodeproj
TataCliqSwift.xcworkspace

fastlane/report.xml